<a href="https://colab.research.google.com/github/versant2612/BancosDeDados/blob/main/ENCE/est043/ExemploIMDB_DDL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Base de Dados - EST043 ENCE - Profa. Veronica dos Santos

---

## Comandos DDL para criação do banco IMDB


---


ANTES de começar,  ❗ **não esquecer** ❗ de, antes de mais nada, SALVAR este notebook no ambiente COLAB no drive da TUA própria conta GOOGLE.

## Preparação: Instalação e Configuração do PostgreSQL

Basta dar PLAY que o script abaixo instalará o SGBD PostgreSQL. Não altere esta célula.

In [ ]:
%%capture
# Instalação do PostgreSQL
!sudo apt-get -y -qq update
!pip install sqlalchemy==2.0
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Alterando a senha do usuário padrão 'postgres' para 'postgres'
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

In [ ]:
# Carregando a extensão sql para usar o SQL pelo Google Colab
%load_ext sql

## Criação do database e do esquema com comandos DDL

### Esquema relacional da base de dados Cinema:


Filme (titulo, ano, resumo, pais, duracao, avaliacao)

Pais (sigla, nome)

Artista (nome, sexo, datanascimento)

Genero (nome)

FilmeGenero (titulofilme, ano, nomegenero)

FilmeElenco (titulofilme, ano, nomeartista)

In [ ]:
# Criar um banco de dados e um esquema

!sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS est045;'
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE est045;'
!sudo -u postgres psql -U postgres -d est045 -c 'CREATE SCHEMA cinema;'

NOTICE:  database "est045" does not exist, skipping
DROP DATABASE
CREATE DATABASE
CREATE SCHEMA

In [ ]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/est045

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/est045

### Criação de tabelas somente com chaves primárias

In [ ]:
%%sql

DROP TABLE IF EXISTS cinema.Pais;

CREATE TABLE cinema.Pais (
        sigla CHAR(2) PRIMARY KEY,
        nome VARCHAR(50) UNIQUE NOT NULL
);

DROP TABLE IF EXISTS cinema.Artista;
CREATE TABLE cinema.Artista (
        nome VARCHAR(60)  PRIMARY KEY,
        Sexo CHAR(1)  NOT NULL CHECK (SEXO IN ('F', 'M', 'X'))
);

DROP TABLE IF EXISTS cinema.Genero;
CREATE TABLE cinema.Genero (
        nome VARCHAR(15) PRIMARY KEY
);

 * postgresql://postgres:***@localhost:5432/est045
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Criação de tabelas com chaves primárias e chaves estrangeiras

In [ ]:
%%sql

DROP TABLE IF EXISTS cinema.Filme;

CREATE TABLE cinema.Filme (
  titulo VARCHAR(100),
  ano INT,
  resumo VARCHAR(2000),
  pais CHAR(2) REFERENCES cinema.Pais(sigla),
  duracao INT,
  avaliacao REAL,
  PRIMARY KEY (titulo, ano)
  );

 * postgresql://postgres:***@localhost:5432/est045
Done.
Done.

[]

In [ ]:
%%sql

CREATE TABLE cinema.FilmeGenero (
  titulofilme VARCHAR(100),
  ano INT,
  nomegenero VARCHAR(100) REFERENCES cinema.Genero(nome),
  PRIMARY KEY (titulofilme, ano, nomegenero),
  FOREIGN KEY (titulofilme, ano) REFERENCES cinema.Filme(titulo, ano)
);

CREATE TABLE cinema.FilmeElenco (
  titulofilme VARCHAR(100),
  ano INT,
  nomeartista VARCHAR(60) REFERENCES cinema.Artista(nome),
  PRIMARY KEY (titulofilme, ano, nomeartista),
  FOREIGN KEY (titulofilme, ano) REFERENCES cinema.Filme(titulo, ano)
);

 * postgresql://postgres:***@localhost:5432/est045
Done.
Done.

[]

### Criação de tabelas com outras restrições

In [ ]:
# Criar um segundo esquema no mesmo banco de dados

!sudo -u postgres psql -U postgres -d est045 -c 'DROP SCHEMA IF EXISTS cinema2 CASCADE;'
!sudo -u postgres psql -U postgres -d est045 -c 'CREATE SCHEMA cinema2;'

NOTICE:  schema "cinema2" does not exist, skipping
DROP SCHEMA
CREATE SCHEMA

In [ ]:
# Configurando o PostgreSQL na variável de ambiente DATABASE_URL
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/est045

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/est045

In [ ]:
%%sql

CREATE TABLE cinema2.Pais (
        sigla CHAR(2) PRIMARY KEY,
        nome VARCHAR(50) NOT NULL UNIQUE
);

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

In [ ]:
%%sql

CREATE TABLE cinema2.Filme (
titulo VARCHAR(100) NOT NULL,
ano INT NOT NULL CHECK (ano > 1919),
resumo VARCHAR(2000) NOT NULL,
pais CHAR(2) NOT NULL,
duracao INT  CHECK (duracao >= 3 and duracao <=250) DEFAULT 90,
avaliacao REAL CHECK (avaliacao >= 0 and avaliacao <= 10),
PRIMARY KEY (titulo, ano)
);

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

### Alteração em tabelas

In [ ]:
%%sql

CREATE TABLE cinema2.Artista (
        nome VARCHAR(60)  PRIMARY KEY,
        sexo CHAR(1) CONSTRAINT SEXO_VALIDO CHECK (sexo in ('F', 'M', 'X'))
);

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

In [ ]:
%%sql

ALTER TABLE cinema2.Artista
ADD COLUMN data_nascimento DATE;

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

In [ ]:
%%sql

ALTER TABLE cinema2.Artista
ALTER COLUMN sexo SET NOT NULL;

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

In [ ]:
%%sql

ALTER TABLE cinema2.Artista
ALTER COLUMN sexo SET DEFAULT 'X';

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

In [ ]:
%%sql

ALTER TABLE cinema2.Artista
DROP COLUMN data_nascimento;

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]

In [ ]:
%%sql

ALTER TABLE cinema2.Artista
DROP CONSTRAINT SEXO_VALIDO;

 * postgresql://postgres:***@localhost:5432/est045
Done.

[]